.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

h2 {
  text-align: center;
}

form {
  padding: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* Espaciado entre los campos */
}

.form-group {
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
}

label {
  display: block;
  font-weight: bold;
  padding: 10px 0 5px 0;
}

p {
  margin: 0;
  padding: 5px 0;
  color: red;
}

/* Media query para hacerlo responsive */
@media screen and (max-width: 768px) {
  .form-group {
    flex: 0 0 100%;
  }

  .form-row {
    flex-direction: column;
  }
}
